@import "../../../variables/variables";
.tna-event-details-container{
    
}
.tna-event-title-description{
    border-bottom: .1rem dashed $card-background;
    margin-bottom: .8rem;
    background-color: #3a0758;
    color: white;
    padding: 15px;


}
.tna-event-time-location{
  
}
.tna-event-prices{
    .price {
        font-size: 1.4rem;
    }
    md-icon {
        font-size: 1.6rem;
        height: 1.6rem;
        width: 1.6rem;
    };
}
.tna-event-name {

}

.tna-description {

}
.tna-event-action-buttons{

}
.tna-warning{

}
