<div class="tna-event-details-container container">
	<div class="tna-event-title-description row">
		<div class="col">
			<label class="tna-event-name display-4">
                {{ selectedEvent?.title }} 
            </label>
			<div  class="tna-event-time-location col-md-6">
				<div >
					<md-icon>perm_contact_calendar</md-icon>
					<div >
						<div>{{ selectedEvent?.datetime | date:'d MMM y' }}</div>
						<div>@{{ selectedEvent?.datetime | date:'HH:mm' }}</div>
					</div>
				</div>
				<div >
					<md-icon>location_on</md-icon>
					<div >
						<div>{{ selectedEvent?.location | address }}</div>
						<div>, {{ (selectedEvent?.location | address:'last') || 'Turku' }}</div>
					</div>
				</div>
			</div>
		</div>

		<div  class="row">
			<div class="tna-warning">
				<span *ngIf="getValueOf(selectedEvent?.expiry_datetime) > today.valueOf()">
                    {{'Registration expires on ' + (selectedEvent?.expiry_datetime | date:'d MMM y HH:mm')}}
                </span>
			</div>
			<div class="tna-event-prices" fxLayout="row" fxLayoutAlign="space-between center">
				<div mdTooltipPosition="above" mdTooltip="Adult price.">
					<md-icon>person</md-icon>
					<span class="price">€ {{ selectedEvent?.adult_price | number: '2.2-2' }}</span>
				</div>
				<div mdTooltipPosition="above" mdTooltip="Family price.(2 adults + 2 kids under 10 years.)">
					<md-icon>group</md-icon>
					<span class="price">€ {{ selectedEvent?.family_price | number: '2.2-2'}}</span>
				</div>
				<div mdTooltipPosition="above" mdTooltip="Price for child above 10 years.">
					<md-icon>child_care</md-icon>
					<span class="price">€ {{ selectedEvent?.children_price | number: '2.2-2' }}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="tna-description blockquote " [innerHTML]="selectedEvent?.description | safeHtml">
	</div>
</div>