md-card {
    margin-bottom: 2.4rem;
    height: calc(100% - 7.2rem);
}
ul {
    padding: 0;
}

img {
    border-radius: 50%;
    margin-left: calc(50% - 10.0rem);
    max-height: 20.0rem;
    max-width: 20.0rem;
}
