@import "../../../variables/variables";
:host{
    font-size: 14px;
}
.tna-filters{
    margin-top: 0.8rem;
}
md-select{
    transform: translateY(-1.25em);
}

.tna-event-status{
    .tna-status-title{
        font-size: 1.2rem;
        font-weight: 700;
        &~div{
            font-size: 12px;
            font-weight: 700;
            margin: 0.3rem 0;
        }
    }
}

.mat-column-family, .mat-column-children, .mat-column-adults, .mat-column-vegitarian {
  flex: 0.5;
}
.mat-column-name{
  flex: 2;
}