#member {
  background: #31084c;
}

#member-title{
  color: white;
}

#banner {
  background-image: url("https://picsum.photos/id/310/800/300");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;

}
#banner .banner-name {
  padding-top: 100px; 
}
#banner h1, p, a{
  color: whitesmoke;
}

#about-tna h2{
  color:rgb(9, 25, 99);
}
#follow-us {
  color: #32085d;
}

#follow-us .fab{
font-size: 50px;
color: #81072d;
padding-right: 10px;
margin-bottom: 50px;

}