/* ----------  VARIABLES ---------- */

$default-spacing: 16px;
$default-border-radius: 3px;

$color-primary: #3d3d3d;
$color-accent: #78696e;
$color-warn: #ce1126;
$color-text-light: #ffffff;

$hover-text-color: #3b2c36;
$tab-header-text-color: #3d2e39;
$sub-header-color: rgba(0, 0, 0, 0.54);

$body-background: #151017;
$card-background: #d9d4d5;

$company-logo-background: #3d2e39;
$navigation-tab-background: #78696e;

$color-paragraph-header: #975355;
$color-paragraph: #7c7174;
$color-event-header-border: #f7eded;
$color-paid-text: #83c716;
