<div md-dialog-title>Reset Password</div>
<div [formGroup]="resetPasswordForm">
	<md-dialog-content fxLayout="column" fxLayoutGap="20px">
		<img src="https://firebasestorage.googleapis.com/v0/b/turkunepal-21097.appspot.com/o/tna%2Fassets%2Ffavicon.png?alt=media&token=ed77fd8c-aff9-483f-8650-3eac97d9901a">
		<div class="tna-error" *ngIf="error">{{ error }}</div>
		<div>
			<md-input-container floatPlaceholder="always">
				<input mdInput placeholder="Password" type="password" #password formControlName="password">
			</md-input-container>
			<div class="tna-error" *ngIf="!resetPasswordForm.controls['password'].valid">* Password must contain 6 character.</div>
		</div>
		<div>
			<md-input-container floatPlaceholder="always">
				<input mdInput placeholder="Confirm Password" type="password" #confirmPassword formControlName="confirmPassword">
			</md-input-container>
			<div class="tna-error" *ngIf="password.value !== confirmPassword.value">* Password didnt match.</div>
		</div>
	</md-dialog-content>
	<md-dialog-actions fxLayout="column" fxLayoutGap="8px">
		<div fxLayout="row" fxLayoutAlign="space-between center">
			<button md-raised-button color="warn" (click)="closeDialog()">Cancel</button>
			<button md-raised-button color="primary" [disabled]="!resetPasswordForm.valid || (password.value !== confirmPassword.value)"
			 (click)="resetPassword(resetPasswordForm.value)">Reset
            </button>
		</div>
	</md-dialog-actions>
</div>